#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}
#ji img{
height:inherit;
 width:inherit;

}
#ji {
background-color:firebrick;    
}